meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title アソウタカヒロ | ポートフォリオ
link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap&subset=latin-ext", rel="stylesheet")
link(href="css/styles.min.css", rel="stylesheet")
