section#works.sec
  h2.display-5.sec__ttl Works
  div.container
    div.row
      div.col-md.card.border-white
        img.rounded.border.border-light(src="img/works/bunka.jpg", alt="")
        div.card-body
          h5.card-title.text-left 大手シャッター販売企業様
          p.text-left.mb-1 コーディング / WP（１ヶ月半）
          p.text-left.mb-1 あああ
      div.col-md.bg-danger.card
        img.rounded.border.border-light(src="img/works/hakobune.jpg", alt="")
        div.card-body
          h5.card-title Card title
          p.card-text Some quick
      div.col-md.bg-success.card
        img.rounded.border.border-light(src="img/works/noImage.jpg", alt="")
        div.card-body
          h5.card-title Card title
          p.card-text Some quick
