section#works.sec
  h2.display-5.sec__ttl Works
  div.container
    div.row
      div.col-md.bg-primary.card
        img(src="img/works/dummy.jpg", alt="")
        div.card-body
          h5.card-title Card title
          p.card-text Some quick
          a.btn.btn-success(href="#") aaa
      div.col-md.bg-danger aaa
      div.col-md.bg-success aaa
