//- index.pug
doctype html
html(lang="jp")
  head
    include _head.pug
  body
    div#wrapper
      //- <header>
      include _header.pug
      main.container.main
        section#profile.sec
          figure.avatar
            img(src='img/profile/img_profile.png', alt='プロフィール画像')
          h1.main__ttl saw_pr
          ul.nav.justify-content-center
            li.nav-item
              a.nav-link.nav-sns(href='https://github.com/sawpr/portfolio', target='_blank')
                i.fab.fa-github
        section#about.sec
          h2.display-5.sec__ttl About
          dl.sec__dl
            dt.sec__dt Name
            dd.sec__dd Aso Takahiro
          dl.sec__dl
            dt.sec__dt Skill
            dd.sec__dd
              p HTML5 / CSS3
              p Scss / Sass
              p JavaScript / jQuery
              p WordPress
              p Photoshop<br>(none design)
          dl.sec__dl
            dt.sec__dt Tools
            dd.sec__dd
              p VScode
              p Gulp<br>( Pug / Scss / Imagemin / browser-sync / Webpack )
              p Git<br>( CLI / SourceTree )
              p VirtualBox / Vagrant<br>( LAMP : PHP )
              p Photoshop / XD
              p Backlog
              p GitHub
        //- include _works.pug


      //- <footer>
      include _footer.pug
    include _script.pug
