@charset "UTF-8";

//customize bootstrap theme
// $theme-colors: (
//         dark: #ff0000
// );

@import 'import';

body {
  background-color: #fefefe;
  font-family: $font;
  line-height: 2;
  text-align: center;
}

.header {
  background-color: #333;
}

.main {
  padding: 0 1rem 4rem;
  @include mq() {
    padding: 0 0 5rem;
  }
  &__ttl {
    font-size: 1.5rem;
    margin: 5px 0 0;
  }
}

.footer {
  margin-top: $frame-padding;
}

.avatar {
  background: #4c4c4c;
  background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(135deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );
  border-radius: 100%;
  margin: 0 auto;
  padding: 4px;
  width: 120px;
  img {
    background-color: #FFF;
    border-radius: 100%;
    padding: 4px;
    width: 100%;
  }
}

.nav {
  &-sns {
    color: #333;
    font-size: 2rem;
  }
  &-link {
  }
}

.sec {
  padding: $frame-padding 0 0;
  &__ttl {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__dl {
  }
  &__dt {
    border-bottom: 1px dashed #333;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
    padding: 0 .5rem;
  }
  &__dd {
    margin-bottom: 2rem;
  }
};

.card {
  padding-top: 15px;
  img {
    width: 100%;
  }
}